.recursion-file-list {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #BDBDBD;

  &__item {
    &__row {
      height: 60px;
      display: flex;
      cursor: pointer;
      align-items: stretch;
      transition: .2s ease;
      border-bottom: 1px solid #BDBDBD;

      &:hover {
        background-color: #EEEEEE;
      }
    }

    &__col {
      height: 100%;
      width: 20%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &__content {
      margin: 0 20px;
      padding: 10px 0;
    }
  }
}